{% extends "main.html" %}

<!-- Page content -->
{% block container %}
<div class="md-content" data-md-component="content">
  <div class="md-content__inner">
    <!-- Header -->
    <header class="md-typeset">{{ page.content }}</header>

    <!-- Posts -->
    <main class="md-typeset">
      <article>
        <table>
          <thead>
            <tr>
              <th data-sort-default>Writeup Link</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {% for post in posts %}
            <tr>
              <td><a href="{{ post.url | url }}">{{ post.title }}</a></td>
              <td>
                <time datetime="{{ post.config.date.created }}"
                  >{{- post.config.date.created | date -}}</time
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </article>
    </main>
  </div>
</div>
{% endblock %}
