{% extends "base.html" %}

{% block site_meta %}
  {{ super() }}
  <meta property="og:type" content="website">
  <meta property="og:title" content="netgrep: OSINT Challenges">
  <meta property="og:description" content="Solution writeups for OSINT challenges.">
  <meta property="og:image" content="https://netgrep.jfox.io/img/social_card.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1280">
  <meta property="og:image:height" content="640">
  <meta property="og:url" content="https://netgrep.jfox.io/">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="netgrep: OSINT Challenges">
  <meta name="twitter:description" content="Solution writeups for OSINT challenges.">
  <meta name="twitter:image" content="https://netgrep.jfox.io/img/social_card.png">
  <meta property="twitter:domain" content="netgrep.jfox.io">
  <meta property="twitter:url" content="https://netgrep.jfox.io">
{% endblock %}


